<div>
  <app-navbar></app-navbar>
  <div class="container-buttons">
    <app-button 
      [text]="'Gerenciar departamentos'"
      [active]="activeButton[0]"
      [bgColor]="''"
      routerLink="department"
      (click)="changeButton(0)"
    ></app-button>
    <app-button
      [text]="'Gerenciar funcionários'"
      [active]="activeButton[1]"
      [bgColor]="''"
      routerLink="employee"
      (click) = "changeButton(1)"
    ></app-button>
  </div>
  <router-outlet></router-outlet>
</div>





